@media screen and (max-width: 480px) {
  body {
    background-color: ;
  }
  
  /* ==Header & main menu starts== */
#header{
    height: 50px;
    top:0 ;
    position: fixed;
  }

#logo{
  width: 50px;
  margin: 8px 0 0 5%; 
}


#menu{
  width: 60%;
  margin: 12px 5% 0 0;
}
  
  /* -scroll styling- */
#header.small{
  height:50px;
}
#logo.small{
  width: 50px;
  margin-left: 5%;
}

#menu.small{
  margin-right: 5%;
  margin-top: 12px;
}
#menu.small a{
  font-size: 16px;
  
}
  /* -scroll styling- */
/* ==Header & main menu ends== */
  
  
  .container{
    margin: 5%;
    margin-top: 75px;
    height: ;
    display: block;
  }  
  
  .column1, .column2, .column3{
  width: 90%;
  margin: 0 5%;
  }
  /* ==Footer starts== */  
  .socialmedia{
    align-content: center;
    width: 30%;
    margin: 1% 35%;
  }
  
  .socialmedia img{
  width: 18%;
  margin: 1% 1%;
  float: right;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
  
  footer{
    transition: all 0.3s ease-out;

  }
  
  .socialmedia img{
    float: none;
  }
/* ==Footer ends== */  
  
  
  