@media screen and (min-width: 700px) and (max-width: 1000px) {
  body{
    background-color:;
  }
  
  
  
  /* ==Header & main menu starts== */
#title{
  font-size:16px;
  width: 30%;
  transition: all 0.3s ease-out;
}

#logo{
  width: 75px;
  margin: 8px 0 0 10%; 
}


#menu{
  width: 30%;
  margin: 20px 10% 0 0;
}
/* ==Header & main menu ends== */
  
/* ==Footer == */  
   #copyright{
    margin-left: 10%;}
  
  .socialmedia{
  margin-right: 10%;
  }

  
  
  
  
  .container{
    margin: 5% 10%;
    max-height: auto;
  }  
  
.column2{
  width: 60%;
  float: left;
  display: block;
  }

  .column2 img{
   padding-bottom: 10px;
  }
  
  .column1{
   width: 60%;
  }
  
  
  
  
}